version: '3.9'

services:
  backend:
    image: ${DOCKER_HUB_USERNAME}/ecom:backend-{IMAGE_TAG}
    container_name: backend
    restart: always
    environment:
      PORT: ${PORT}
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - ecom-network

  frontend:
    image: "${DOCKER_HUB_USERNAME}/ecom:frontend-${IMAGE_TAG}"
    container_name: frontend
    restart: always
    environment:
      VITE_API_URL: ${VITE_API_URL}
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - ecom-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
      MONGO_INITDB_DATABASE: ecommerce
    networks:
      - ecom-network

networks:
  ecom-network:
