version: '3.9'

services:
  backend:
    build: ../backend
    restart: always
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: "mongodb://root:example@mongodb:27017/ecommerce?authSource=admin"
      JWT_SECRET: "sample_jwt_secret_key"
    depends_on:
      - mongodb
    networks:
      - ecom-network

  frontend:
    build: ../frontend
    # image: deployment-frontend:latest
    restart: always
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    environment:
      NODE_ENV: production
      VITE_API_URL: "http://localhost:5000"
    networks:
      - ecom-network

  mongodb:
    image: mongo:latest
    restart: always
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: ecommerce
    ports: 
      - "27017:27017"
    networks:
      - ecom-network

  mongo-express:
    image: mongo-express
    restart: always
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    networks:
      - ecom-network

networks:
  ecom-network: