name: Backend CI 

on:
  workflow_dispatch:
  
  pull_request:
    branches:
      - develop
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yaml"

  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/backedn-ci.yaml"

jobs: 
  Lint:
    name: Lint Test
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code 
        uses: actions/checkout@v4

      - name : setup node
        uses: actions/setup-node@v4
        with: 
          node-version: '20'
          





    

